<span class="lli-month">{{frame.month}}</span>
<span class="lli-percent">{{percentComplete}}</span>
<span class="lli-remaining">{{loanRemainingDisplay}}</span>

<span class="lli-loan-total-bar">
  <span class="lli-loan-remaining-bar" style={{loanRemainingStyle}}></span>
</span>
