<span>{{frame.month}}</span>
<span>{{percentComplete}}</span>
<span>{{frame.endingBalance}}</span>

<span class="lli-loan-total-bar">
  <span class="lli-loan-remaining-bar" style={{loanRemainingStyle}}></span>
</span>
