.loan-lifetime-impact {
  .lli-inputs {
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px;
    font-size: 18px;

    .lli-input-group {
      padding: 10px 0;

      label {
        display: inline-block;
        min-width: 200px;
      }
      input {
        padding: 10px;
        border-radius: 3px;
        border: 1px solid #ccc;
      }
    }
  }

  .lli-graph {
    .lli-loan-frame {
      .lli-month {
        display: inline-block;
        width: 40px;
      }
      .lli-percent {
        display: inline-block;
        width: 60px;
      }
      .lli-remaining {
        display: inline-block;
        width: 100px;
      }

      .lli-loan-total-bar {
        display: inline-block;
        width: 400px;
        height: 20px;
        border: 1px solid #ddd;
        background-color: beige;

        .lli-loan-remaining-bar {
          display: inline-block;
          height: 20px;
          background-color: #a7b1ff;
        }
      }
    }
  }
}
