.loan-lifetime-impact {
  .lli-inputs {
    font-size: 18px;

    .lli-input-group {
      padding: 10px 0;

      label {
        display: inline-block;
        min-width: 200px;
      }
      input {
        padding: 10px;
        border-radius: 3px;
        border: 1px solid #ccc;
      }
    }
  }
}
