<div class="lli-inputs">
  <div class="lli-input-group">
    <label for="loan-amount">Loan total</label>
    {{input id="loan-amount" value=loanAmount}}
  </div>
  <div class="lli-input-group">
    <label for="interest-rate">Interest rate</label>
    {{input id="interest-rate" value=interestRate}}
  </div>
  <div class="lli-input-group">
    <label for="monthly-payment">Monthly payment</label>
    {{input id="monthly-payment" value=monthlyPayment}}
  </div>
</div>
<div class="lli-graph">
  {{lli-loan-frame frame=loanFrame}}
</div>
